{% extends 'base.html' %}
{% block content %}
<div class = 'card-content'>
<h2>Name: {{ cat.name }}</h2>
<p>Breed: {{ cat.breed }}</p>
<p>Description: {{ cat.description }}</p>
<p>Age: {{ cat.age }}</p>

{% for cattoy in cat.cattoys.all %}
    <div>{{cattoy.name}}</div>
{% empty %}
    <div>Cat Has No Toys :(</div>
{% endfor %}

{%if cat.user == user %}
    <a href="{% url 'cats_update' cat.id %}">Update Details</a> |
    <a href="{% url 'cats_delete' cat.id %}">DELETE This Cat</a>
{% endif %}
</div>


{%endblock%}